/* start custom scss snippet */

/* end custom scss snippet */
/* 블로그 포스트 테이블 스타일 */
.post-content table {
  width: 100%;
  border-collapse: collapse;
}

.post-content table th,
.post-content table td {
  border: 1px solid #ddd;
  padding: 6px 8px;
}

.post-content table thead th {
  background-color: #f7f7f7;
  font-weight: 600;
}
